$turquoise-color: #05A099;
$turquoise-active-color: #028e88;
$black-color: #383838;
$grey-color: #848484;
$strong-grey-color: #363636;
$light-grey-color: #F6F6F6;

@font-face {
  font-family: "playfair";
  src: url("fonts/Playfairdisplayregular.woff2") format("woff2"),
  url("fonts/Playfairdisplayregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  color: $black-color;
}

a {
  text-decoration: none;
  color: $black-color;
  
  &:hover {
    color: $turquoise-active-color;
  }
}

h1, h2, .serif-text {
  font-family: playfair;
  font-weight: normal;
}

h1 {
  font-size: 74px;
  line-height: 85px;
  margin-bottom: 20px;
}

h2 {
  font-size: 48px;
  margin: 40px 0 20px 0;
}

h4 {
  font-size: 24px;
  color: $turquoise-color;
  margin-top: 15px;
  margin-bottom: 20px;
}

.grey-text {
  color: $grey-color;
}

.regular-text {
  font-size: 18px;
  color: $black-color;
}

.main-bottom {
  font-size: 22px;
  color: #fff;
  background: $turquoise-color;
  padding: 14px 30px;
  border-radius: 30px;
  margin-top: 40px;

  &:hover {
    color: #fff;
    background: $turquoise-active-color;
  }
}


.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.serif-text {
  font-size: 22px;
  margin-bottom: 20px;
}

.banner__img {
  height: 420px;
  background-color: $grey-color;
}


footer { 
  background-color: $strong-grey-color;
}


.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__block:not(:first-child) {
  padding-top: 20px;
}

.footer__menu, .footer__contacts, .footer__social {
  color: #fff;
  font-size: 22px;
}


.footer__contacts-adress {
  color: $turquoise-color;
  margin-bottom: 28px;
  position: relative;

  &::before {
    display: block;
    content: '';
    position: absolute;
    left: -44px;
    top: 4px;
    background-image: url(../img/marker.svg);
    height: 43px;
    width: 29px;
  }
}


.footer__menu {

  nav {
    display: flex;
    list-style-type: none;
  }

  ul:first-child {
    margin-right: 40px;
  }
  
  li {
    list-style-type: none;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}


.footer__social-text {
  margin-bottom: 33px;
}

.footer_social-logoes {
  display: flex;
  justify-content: space-between;
}

.footer__developers {
  background-color: #000;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  color: $turquoise-color;
}

.mobile-header__menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  left: -220px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4);
  transition: left 0.5s;

  &.active {
    display: block;
    left: 0;    }

  a {
    display: block;
    font-size: 18px;
    padding: 10px 20px;

    &:first-child {
      padding-top: 20px;
    }

    &.active {
      color: $turquoise-color;
    }
  }
}


.mobile-header__background {
  
  display: none;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 0.7;
  position: fixed;
  z-index: 900;

  &.active {
    display: block;
  }
}



.main-first-screen {
  position: relative;
  height: 100vh;
  min-height: 650px;
  overflow: hidden;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2);
}


.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header__burger-wrapper {
  display: none;
}

.main-header__logo {
  margin-left: -18px;

  img {
    width: 135px;
    height: auto;
  }
}


.main-header__left-menu {
  display: flex;
  max-width: 900px;
  font-size: 18px;
}

.main-header__menu {
  margin-top: 10px;

  a {
    margin-left: 40px;
    
    &.active {
      color: $turquoise-active-color;
    }
  }

}


.main-header__phone{
  font-size: 24px;
  color: $turquoise-color;
  margin-top: 10px;
}

.main-header__head-phone{
  font-weight: bold;
  margin-bottom: 5px;
}


.horse-background {
  width: 100%;
  z-index: -100;
  position: absolute;
  height: 100vh;
  min-height: 800px;

  img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1220px;
    transform: translate(-50%, 0);
    left: 50%;
  }
}

.block__description {
  max-width: 660px;
  text-align: center;
  margin: 0 auto;
}

.main-banner__message {
  max-width: 600px;
}

.main-banner__text {
  margin-bottom: 50px;
}

.horsemanship__cards {
  display: flex;
}

.horsemanship__card {
  border-radius: 30px;;
  height: 380px;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s, margin-top 0.5s;

  &:hover {
    cursor: pointer;
    margin-top: -10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4);
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}


.horsemanship__cards-text {
  text-align: justify;
}

.stables-healing__card {
  display: flex;
  background-color: $light-grey-color;
}

.stables-healing__pic,
.stables-healing__description {
  width: 50%;
}

.stables-healing__pic {
  display: flex;

  img {
    max-width: 100%;
    object-fit: cover;
    display: block;
  }
}

.stables-healing__description {
  padding: 40px;
  text-align: center;
}

.stables-healing__title {
  color: $turquoise-color;
}

.gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gallery__main-pic {
  width: 1030px;
  height: 600px;
  overflow: hidden;
  display: flex;
}

.test {
  object-fit: cover;
}

.gallery__prev-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.gallery__prev-pic {
  height: 186px;
  overflow: hidden;

  img {
    width: 310px;
  }
}

.under-gallery-description {
  display: flex;
}

.under-gallery-description__block {
  width: 50%;

  &:first-child {
    margin-right: 40px;
  }
}

.under-gallery-description__text-list {
  display: flex;
  justify-content: space-between;

  li {
    margin-left: 18px;
  }
}

.map {
  background-color: $light-grey-color;

  h2 {
    padding: 40px 0 20px 0;
  }
}

.map__img {
  margin: 0 auto;
  max-width: 1000px;

  img {
    width: 100%;
  }
}

.news__cards {
  display: flex;
}

.news__card {
  height: 370px;
  text-align: center;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.news__cards-text {
  text-align: justify;
}

.news__cards-img {
  margin-bottom: 20px;
  max-width: 100%;
}

.news__date {
  margin: 20px 0;
}





/* Portrait tablets and small desktops */
@media (max-width: 991px) {

  h1 {
    font-size: 50px;
    line-height: 52px;
  }

  .main-header__menu {
    display: none;
  }

  .main-header__phone {
    margin: 0;
    font-size: 18px;
  }

  .main-header__logo {

    position: absolute;
    margin: 0;
    img {
      width: 100px;
    }
  }

  .main-header {
    height: 120px;
  }

  .main-header__burger-wrapper {
    cursor: pointer;
    display: block;
  }

  .main-header__burger {
    width: 25px;
    height: 3px;
    background: $black-color;
    position: relative;
    margin-top: 6px;

    &:before {
      content: '';
      top: -6px;
      display: block;
      position: absolute;
      z-index: -10;
      width: 25px;
      height: 3px;
      background: $black-color;
    }

    &:after {
      content: '';
      top: 6px;
      display: block;
      position: absolute;
      width: 25px;
      height: 3px;
      background: $black-color;
    }
  }

  .footer__logo {
    img {
      width: 90px;
      height: auto;
    }
  }


  .horsemanship__cards {
    flex-wrap: wrap;
  }

  .horsemanship__card {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 0px;
    }

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }




}



@media (max-width: 767px) {


  .horsemanship__card {
    flex-basis: 100%;

    &:nth-child(odd) {
      margin-right: 0
    }
  }

  .stables-healing__card {
    flex-wrap: wrap;
  }

  .stables-healing__pic, .stables-healing__description {
    width: 100%;
  }

  .stables-healing__description {
    order: 2;
  }

}