@charset "UTF-8";
@font-face {
  font-family: "playfair";
  src: url("../fonts/Playfairdisplayregular.woff2") format("woff2"), url("../fonts/Playfairdisplayregular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif; }

body {
  position: relative;
  min-height: 100vh;
  color: #383838; }

a {
  display: inline-block;
  text-decoration: none;
  color: #05A099;
  position: relative; }
  a:hover {
    color: #028e88; }

p, li {
  margin-bottom: 20px; }

a.more {
  padding-top: 10px; }
  a.more:after {
    display: block;
    position: absolute;
    content: '→';
    right: -20px;
    top: 8px; }

a.menu-link {
  color: #383838; }
  a.menu-link.active {
    color: #05A099; }
  a.menu-link::after {
    display: none; }
  a.menu-link:hover {
    color: #028e88; }

h1, h2, .serif-text {
  font-family: playfair;
  font-weight: normal; }

h1 {
  font-size: 74px;
  line-height: 85px;
  margin-bottom: 20px; }

h2 {
  font-size: 48px;
  line-height: 50px;
  margin: 40px 0 20px 0; }

h4 {
  font-size: 24px;
  color: #05A099;
  margin-top: 15px;
  margin-bottom: 20px; }

.grey-text {
  color: #848484; }

.regular-text {
  font-size: 16px;
  line-height: 20px;
  color: #383838; }

.main-bottom {
  font-size: 22px;
  color: #fff;
  background: #05A099;
  padding: 14px 30px;
  border-radius: 30px; }
  .main-bottom::after {
    display: none; }
  .main-bottom:hover {
    color: #fff;
    background: #028e88; }

.sub-buttom {
  font-size: 22px;
  color: #05A099;
  background: #fff;
  border: 1px solid #05A099;
  padding: 14px 30px;
  border-radius: 30px; }
  .sub-buttom::after {
    display: none; }
  .sub-buttom:hover {
    color: #fff;
    background: #028e88; }

.wrapper {
  max-width: 1400px;
  margin: 0 auto 20px auto;
  padding: 0 20px; }

.center-block {
  margin-top: 20px;
  text-align: center; }

.serif-text {
  font-size: 20px;
  margin-bottom: 20px; }

.banner__img {
  height: 420px;
  background-color: #848484; }

footer {
  background-color: #363636; }

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px; }

.footer__block:not(:first-child) {
  padding-top: 20px; }

.footer__menu, .footer__contacts, .footer__social {
  color: #fff;
  font-size: 22px; }

.footer__contacts-adress {
  color: #05A099;
  margin-bottom: 28px;
  position: relative; }
  .footer__contacts-adress::before {
    display: block;
    content: '';
    position: absolute;
    left: -44px;
    top: 4px;
    background-image: url(../img/marker.svg);
    height: 43px;
    width: 29px; }

.footer__menu nav {
  display: flex;
  list-style-type: none; }

.footer__menu ul:first-child {
  margin-right: 40px; }

.footer__menu li {
  list-style-type: none; }
  .footer__menu li:not(:last-child) {
    margin-bottom: 30px; }

.footer__social-text {
  margin-bottom: 33px; }

.footer_social-logoes {
  display: flex;
  justify-content: space-between; }

.footer__developers {
  background-color: #000;
  min-height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  color: #05A099; }

.mobile-header__menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  left: -220px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4);
  transition: left 0.5s; }
  .mobile-header__menu.active {
    display: block;
    left: 0; }
  .mobile-header__menu a {
    display: block;
    font-size: 18px;
    padding: 10px 20px; }
    .mobile-header__menu a:first-child {
      padding-top: 20px; }
    .mobile-header__menu a.active {
      color: #05A099; }

.mobile-header__background {
  display: none;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 0.7;
  position: fixed;
  z-index: 900; }
  .mobile-header__background.active {
    display: block; }

.main-first-screen {
  position: relative;
  height: 100vh;
  min-height: 650px;
  overflow: hidden;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2); }

.main-header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between; }

.main-header__mobile-phone {
  display: none; }

.main-header__burger-wrapper {
  display: none; }

.main-header__logo {
  margin-left: -18px; }
  .main-header__logo img {
    width: 135px;
    height: auto; }

.main-header__logo-secondary img {
  width: 87px;
  height: 87px; }

.main-header__left-menu {
  display: flex;
  max-width: 900px;
  font-size: 18px; }

.main-header__menu {
  margin-top: 10px; }
  .main-header__menu a {
    margin-left: 40px; }
    .main-header__menu a.active {
      color: #028e88; }

.main-header__phone {
  font-size: 24px;
  color: #05A099;
  margin-top: 10px; }

.main-header__head-phone {
  font-weight: bold;
  margin-bottom: 5px; }

.horse-background {
  width: 100%;
  z-index: -100;
  position: absolute;
  height: 100vh;
  min-height: 800px; }
  .horse-background img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1220px;
    transform: translate(-50%, 0);
    left: 50%; }

.block__description {
  max-width: 660px;
  text-align: center;
  margin: 0 auto; }

.block__description-text {
  padding: 0 20px; }

.first-text__message {
  max-width: 600px; }

.first-text__text {
  margin-bottom: 50px; }

.horsemanship__cards {
  display: flex; }

.horsemanship__card {
  text-align: center;
  padding: 40px 20px 20px 20px; }
  .horsemanship__card img {
    height: 92px;
    width: auto; }
  .horsemanship__card:hover {
    cursor: pointer; }
  .horsemanship__card:not(:last-child) {
    margin-right: 20px; }

.horsemanship__cards-text {
  text-align: justify; }

.stables-healing {
  max-width: 1920px;
  margin: 0 auto; }

.stables-healing__card {
  display: flex;
  background-color: #F6F6F6;
  max-height: 450px; }

.stables-healing__pic,
.stables-healing__description {
  width: 50%; }

.stables-healing__description-wrap {
  max-width: 590px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto; }
  .stables-healing__description-wrap h2 {
    margin-top: -40px; }

.stables-healing__pic {
  display: flex; }
  .stables-healing__pic img {
    max-width: 100%;
    object-fit: cover;
    display: block; }

.stables-healing__description {
  padding: 40px;
  text-align: center; }

.stables-healing__title {
  color: #05A099; }

.gallery {
  display: flex;
  width: 100%; }

.gallery__main-pic {
  width: 80%;
  display: flex;
  margin-right: 20px;
  position: relative; }
  .gallery__main-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.gallery__prev-arrow {
  user-select: none;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 30px solid #ffffff7a;
  border-bottom: 20px solid transparent;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  transition: border 0.2s;
  cursor: pointer; }
  .gallery__prev-arrow:hover {
    border-top: 25px solid transparent;
    border-right: 35px solid #00fff47d;
    border-bottom: 25px solid transparent; }

.gallery__next-arrow {
  user-select: none;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 30px solid #ffffff7a;
  border-bottom: 20px solid transparent;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  transition: border 0.2s;
  cursor: pointer; }
  .gallery__next-arrow:hover {
    border-top: 25px solid transparent;
    border-left: 35px solid #00fff47d;
    border-bottom: 25px solid transparent; }

.gallery__prev-block {
  width: 20%;
  overflow: hidden; }

.gallery__prev-pic {
  width: 100%;
  overflow: hidden;
  display: flex;
  filter: opacity(0.5);
  transition: filter 0.5s; }
  .gallery__prev-pic:nth-child(2 + n) {
    display: none; }
  .gallery__prev-pic:not(:last-child) {
    margin-bottom: 20px; }
  .gallery__prev-pic.active {
    filter: opacity(1); }
  .gallery__prev-pic:hover {
    filter: opacity(1); }
  .gallery__prev-pic img {
    object-fit: cover;
    width: 100%;
    cursor: pointer; }

.under-gallery-description {
  display: flex; }

.under-gallery-description__block {
  width: 50%; }
  .under-gallery-description__block:first-child {
    margin-right: 40px; }

.under-gallery-description__text-list {
  display: flex;
  justify-content: space-between; }
  .under-gallery-description__text-list li {
    margin-left: 18px; }

.map {
  background-color: #F6F6F6; }
  .map h2 {
    padding-top: 40px; }

.map__img {
  margin: 0 auto;
  max-width: 1000px; }
  .map__img img {
    width: 100%; }

.news__cards {
  display: flex; }

.news__card {
  height: 370px;
  text-align: center; }
  .news__card:not(:last-child) {
    margin-right: 40px; }

.news__cards-text {
  text-align: justify; }

.news__cards-img {
  margin-bottom: 20px;
  max-width: 100%; }

.news__date {
  margin: 20px 0; }

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  h1 {
    font-size: 50px;
    line-height: 52px; }
  h2 {
    font-size: 34px;
    line-height: 36px; }
  .main-header__menu {
    display: none; }
  .main-header__phone {
    margin: 0;
    font-size: 18px; }
  .main-header__logo {
    position: absolute;
    margin: 0; }
    .main-header__logo img {
      width: 100px; }
  .main-header__logo-secondary {
    position: absolute;
    margin: 0; }
  .main-header {
    height: 100px;
    margin-bottom: 0; }
  .main-header__burger-wrapper {
    cursor: pointer;
    display: block;
    user-select: none; }
  .main-header__burger {
    width: 25px;
    height: 3px;
    background: #05A099;
    position: relative;
    margin-top: 6px; }
    .main-header__burger:before {
      content: '';
      top: -6px;
      display: block;
      position: absolute;
      z-index: -10;
      width: 25px;
      height: 3px;
      background: #05A099; }
    .main-header__burger:after {
      content: '';
      top: 6px;
      display: block;
      position: absolute;
      width: 25px;
      height: 3px;
      background: #05A099; }
  .footer__logo img {
    width: 90px;
    height: auto; }
  .horsemanship__cards {
    flex-wrap: wrap; }
  .horsemanship__card {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px; }
    .horsemanship__card:not(:last-child) {
      margin-right: 0px; }
    .horsemanship__card:nth-child(odd) {
      margin-right: 20px; }
  .news__cards {
    flex-wrap: wrap; }
  .news__card {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    height: 50%; }
    .news__card:not(:last-child) {
      margin-right: 0px; }
    .news__card:nth-child(odd) {
      margin-right: 20px; }
  h2.stables-healing__title {
    margin-top: 0; } }

@media (max-width: 767px) {
  h1 {
    font-size: 38px;
    line-height: 40px; }
  h2 {
    font-size: 32px;
    line-height: 34px;
    margin-top: 20px; }
  h4 {
    font-size: 20px;
    line-height: 22px; }
  .serif-text {
    font-size: 16px;
    line-height: 22px; }
  .regular-text {
    font-size: 14px;
    line-height: 20px; }
  .footer__block {
    text-align: center;
    padding: 20px;
    font-size: 16px; }
  .footer__menu, .footer__contacts, .footer__social {
    font-size: 18px; }
  .footer__contacts-adress:before {
    display: none; }
  .footer__wrapper {
    flex-direction: column; }
  .footer_social-logoes {
    justify-content: space-around; }
  .footer__menu nav {
    justify-content: space-around; }
  .main-header__logo, .main-header__logo-secondary {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
    .main-header__logo img, .main-header__logo-secondary img {
      width: 60px;
      height: auto; }
  .main-header__phone {
    font-size: 14px; }
  .main-first-screen {
    height: 660px; }
  .horse-background {
    min-height: 0;
    height: 660px; }
  .horsemanship__card {
    padding: 0; }
    .horsemanship__card:nth-child(odd) {
      margin-right: 20px; }
  .stables-healing__card {
    flex-wrap: wrap;
    max-height: none; }
  .stables-healing__pic, .stables-healing__description {
    width: 100%; }
  .stables-healing__description {
    order: 2; }
  .stables-healing__title {
    margin-top: 0; }
  .under-gallery-description {
    flex-wrap: wrap; }
  .under-gallery-description__block {
    margin-bottom: 20px;
    width: 100%; }
    .under-gallery-description__block:first-child {
      margin-right: 0; }
  .gallery {
    flex-direction: column;
    margin-bottom: 20px; }
  .gallery__main-pic {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px; }
  .gallery__prev-block {
    width: 100%;
    display: flex; }
  .gallery__prev-pic {
    height: 15vw;
    overflow: hidden; }
    .gallery__prev-pic:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px; } }

@media (max-width: 480px) {
  .main-header__phone {
    display: none; }
  .main-header__mobile-phone {
    display: block;
    padding: 0;
    width: 22px;
    margin-top: -4px;
    height: auto; }
    .main-header__mobile-phone::after {
      display: none; }
    .main-header__mobile-phone img {
      fill: #05A099; } }

.we-have__list {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 40px; }
  .we-have__list li {
    margin-left: 20px;
    color: #05A099; }
  .we-have__list a {
    font-size: 24px;
    margin-bottom: 10px; }

.service-banner__banner {
  height: 247px;
  background: linear-gradient(45deg, #f8a2615c, #000000eb), url(../img/stable.png) 0 40% no-repeat;
  position: relative; }
  .service-banner__banner .main-bottom {
    position: absolute;
    right: 95px;
    top: 50%;
    transform: translate(0, -50%); }

.service-banner__text {
  color: #fff;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 95px;
  transform: translate(0, -50%); }
  .service-banner__text h2 {
    margin: 0; }
