@font-face {
  font-family: "playfair";
  src: url("../fonts/Playfairdisplayregular.woff2") format("woff2"), url("../fonts/Playfairdisplayregular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
